.build-debug/WinGui
.codelite/WinGui.session
.codelite/WinGui.tags
.codelite/WinGui.workspace.vincenzo
.codelite/refactoring.db
.codelite/sftp-workspace-settings.conf
.codelite/tweaks.conf
*.d
*.o
WinGui/Debug/WinGui.dll
Example/Debug/WinGui.dll
Example/Debug/Example.exe
.codelite/cppcheck.list
Example/Debug/Example.exe.manifest
Example/Example.mk
Example/Example.mk
Example/Example.mk
Example/Example.mk
WinGui/WinGui.mk
Example/Example.mk
Makefile
WinGui/WinGui.mk
Example/Example.mk